*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  .login-container{
    display:flex;
    min-height:100vh;
    font-family:'Poppins',sans-serif;
    background:#000;
  }
  
  /* ESQUERDA */
  
  .left-panel{
    width:50%;
    position:relative;
  
    background:
    linear-gradient(rgba(0,0,0,.80),rgba(0,0,0,.80)),
    url('https://images.unsplash.com/photo-1542838132-92c53300491e');
  
    background-size:cover;
    background-position:center;
  }
  
  .overlay{
    position:absolute;
    inset:0;
  }
  
  .brand-content{
    position:relative;
    z-index:2;
  
    height:100%;
  
    padding:70px;
  
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  
  .logo-area h1{
    color:#fff;
    font-size:72px;
    line-height:1;
  }
  
  .logo-area span{
    color:#ff6b00;
  }
  
  .logo-icon{
    font-size:60px;
    color:#ff6b00;
    margin-bottom:20px;
  }
  
  .description{
    color:white;
    font-size:32px;
    margin-top:25px;
  }
  
  .description span{
    color:#ff6b00;
  }
  
  .features{
    display:flex;
    gap:30px;
    margin-top:80px;
  }
  
  .feature{
    color:white;
    text-align:center;
  }
  
  .feature .icon{
    font-size:35px;
    margin-bottom:10px;
  }
  
  .forgot{
    text-align:right;
    color:#ff6b00;
    margin-bottom:25px;
    cursor:pointer;
  }
  
  .btn-professor{
    width:100%;
    height:65px;
  
    border:none;
    border-radius:15px;
  
    background:#111;
    color:white;
  
    font-size:20px;
    font-weight:600;
    cursor:pointer;
  }
  
  .divider{
    margin:30px 0;
    text-align:center;
    color:#999;
  }
  
  .btn-admin{
    width:100%;
    height:65px;
  
    border:1px solid #ddd;
    border-radius:15px;
  
    background:white;
    font-size:18px;
    cursor:pointer;
  }
  
  .security{
    text-align:center;
    margin-top:30px;
    color:#666;
  }
  
  @media(max-width:1200px){
  
    .left-panel{
      display:none;
    }
  
    .right-panel{
      width:100%;
    }
  
  }

  .cor-botao{
    background-color: #ff6b00;
    color: #ffffff;
    font-weight: bolder;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    border-radius: 5px;
    font-size: 15px;
  }

  .preco{
    font-size: 20px;
    font-weight: bold;
  }

.descricao{
    font-size: 15px;
    font-weight: bolder;
}

.produto{
    font-size: 15px;
    font-weight: bold;
}
  