
  .cor-botao{
    background-color: #ff6b00;
    color: #ffffff;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    border-radius: 8px;
    font-size: 20px;
  }

  .preco{
    font-size: 20px;
    font-weight: bold;
  }

.descricao{
    font-size: 17px;
    font-weight: bold;
}

.produto{
    font-size: 25px;
    font-weight: bold;
}

.aluno-page{
  display:flex;
  height:100vh;
  width:100%;
}

/* ESQUERDA */

.left-side{
  width:50%;
  position:relative;

  background:
  linear-gradient(
    rgba(0,0,0,.75),
    rgba(0,0,0,.75)
  ),
  url('https://png.pngtree.com/background/20250205/original/pngtree-supermarket-aisle-with-product-on-shelves-blurred-background-picture-image_15628036.jpg');

  background-size:cover;
  background-position:center;

  display:flex;
  justify-content:center;
  align-items:center;
}

.left-content{
  width:75%;
  color:white;
}

.logo{
  font-size:60px;
}

.logo-title{
  font-size:90px;
  line-height:90px;
  margin-bottom:25px;
}

.logo-title span{
  color:#ff6b00;
}

.subtitle{
  font-size:30px;
  line-height:45px;
}

.subtitle span{
  color:#ff6b00;
  font-weight:bold;
}

.features{
  margin-top:80px;
  display:flex;
  justify-content:space-between;
}

.feature{
  text-align:center;
  width:150px;
}

.feature-icon{
  font-size:35px;
  margin-bottom:10px;
}

.feature h3{
  color:#ff6b00;
  margin-bottom:10px;
}

.feature p{
  font-size:14px;
  color:#ddd;
}

/* DIREITA */

.right-side{
  width:50%;
  background:black;

  display:flex;
  justify-content:center;
  align-items:center;
}

.login-card{

  width:675px;

  background:white;

  border-radius:35px;

  padding:20px;

  box-shadow:
  0 10px 40px rgba(0,0,0,.3);
}

.welcome{
  text-align:center;
  color:#ff6b00;
  font-weight:bold;
  font-size:22px;
}

.titulo-market{
  text-align:center;
  font-size:30px;
  margin-top:10px;
}

.titulo-market span{
  color:#ff6b00;
}

.descricao{
  text-align:center;
  color:#666;
  margin-top:20px;
  margin-bottom:40px;
  font-size:20px;
}