body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(144, 93, 169);
    margin: 0;
    padding: 20px;
}

h1{
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background: rgb(66, 36, 87);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.2px;
}

.card:hover {
    transform: scale(1.03);
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nome {
    font-size: 18px;
    font-weight: bold;
}

.email {
    color: azure;
}